langgraph
langchain

langchain-groq
langchain-openrouter
langchain-community

openrouter

dotenv
pydantic

ipykernel

streamlit

langgraph-checkpoint-sqlite

ddgs

langchain-mcp-adapter

fastmcp

pypdf

langchain-huggingface
sentence-transformers
torchvision

faiss-cpu
faiss-gpu

tempfile